@font-face {
    font-display: swap;
    font-family: "Hanken Grotesk";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/hanken-grotesk-v11-latin-500.woff2") format("woff2"),
        url("./assets/fonts/hanken-grotesk-v11-latin-500.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Hanken Grotesk";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/hanken-grotesk-v11-latin-700.woff2") format("woff2"),
        url("./assets/fonts/hanken-grotesk-v11-latin-700.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Hanken Grotesk";
    font-style: normal;
    font-weight: 800;
    src: url("./assets/fonts/hanken-grotesk-v11-latin-800.woff2") format("woff2"),
        url("./assets/fonts/hanken-grotesk-v11-latin-800.ttf") format("truetype");
}
:root {
    --color-light-red: hsl(0, 100%, 67%);
    --color-orangey-yellow: hsl(39, 100%, 56%);
    --color-green-teal: hsl(166, 100%, 37%);
    --color-cobalt-blue: hsl(234, 85%, 45%);

    --bg-light-red: hsla(0, 100%, 67%, 0.05);
    --bg-orangey-yellow: hsla(39, 100%, 56%, 0.05);
    --bg-green-teal: hsla(166, 100%, 37%, 0.05);
    --bg-cobalt-blue: hsla(234, 85%, 45%, 0.05);
    --bg-light-slate-blue: hsl(252, 100%, 67%);
    --bg-light-royal-blue: hsl(241, 81%, 54%);
    --bg-violet-blue: hsla(256, 72%, 46%, 1);
    --bg-persian-blue: hsla(241, 72%, 46%, 0);

    --color-white: hsl(0, 0%, 100%);
    --color-pale-blue: hsl(221, 100%, 96%);
    --color-light-lavender: hsl(241, 100%, 89%);
    --color-dark-gray-blue: hsl(224, 30%, 27%);

    --font-main: "Hanken Grotesk", sans-serif;
    --font-meidum: 500;
    --font-bold: 700;
    --font-extra-bold: 800;

    --text-sm: 1rem;
    --text-base: 1.125rem;
    --text-lg: 1.5rem;
    --text-xl: 2rem;
    --text-3xl: 3.5rem;
    --text-5xl: 4.5rem;

    --rounded-sm: 0.75rem;
    --rounded-lg: 1.25rem;
    --rounded-xl: 2rem;
    --rounded-full: 99999px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}
.sr-only {
    position: absolute;
    width: 0.125rem;
    height: 0.125rem;
    padding: 0;
    margin: -0.125rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
main {
    min-height: 100vh;
    font-family: var(--font-main);
    font-weight: var(--font-meidum);
    font-size: var(--text-base);
    background-color: var(--color-pale-blue);
    display: flex;
}
.result-card {
    width: min(100vw, 46rem);
    margin: 0 auto;
    height: 100%;
    background-color: var(--color-white);
    box-shadow: 2.25rem 0.75rem 3.125rem 0rem hsla(234, 85%, 45%, 8%);
}
.result-overview {
    width: 100%;
    border-radius: 0 0 var(--rounded-xl) var(--rounded-xl);
    padding: 1.5rem 0 2.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#6541fd, #332de9);
    color: var(--color-white);
}
.result-overview__title {
    font-size: var(--text-base);
    line-height: calc(1em + 0.3125rem);
    margin-bottom: calc(2em - 0.75rem);
    padding-right: 0.3125rem;
}
.result-overview__score {
    flex-shrink: 0;
    padding-top: 2.0625rem;
    padding-right: 0.125rem;
    width: 8.75rem;
    height: 8.75rem;
    border-radius: var(--rounded-full);
    background: linear-gradient(#4e25cc, #4533eb);
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.result-overview__score--at {
    font-size: var(--text-3xl);
    font-weight: var(--font-extra-bold);
    color: var(--color-white);
    margin-bottom: 0.625rem;
}
.result-overview__score--max {
    font-size: var(--text-sm);
    color: var(--color-light-lavender);
    line-height: 1.3125rem;
}
.result-overview__compliment {
    font-weight: var(--font-bold);
    font-size: var(--text-lg);
    color: var(--color-white);
    text-align: center;
    line-height: calc(1em + 0.4375rem);
    margin-bottom: calc(1em - 1rem);
    padding-right: 0.3125rem;
}
.result-overview__description {
    font-size: var(--text-sm);
    text-align: center;
    max-width: 32ch;
    letter-spacing: -0.01em;
    color: var(--color-light-lavender);
    line-height: calc(1em + 0.3125rem);
}
.result-summary {
    padding: 1.5rem 1.875rem 1.875rem 1.875rem;
}
.result-summary__title {
    font-size: var(--text-base);
    color: var(--color-dark-gray-blue);
    line-height: calc(1em + 0.3125rem);
    margin-bottom: 1.5rem;
}
.result-summary__list {
    padding: 0;
    display: grid;
    gap: 1rem;
    margin-bottom: 1.5rem;
    font-size: var(--text-sm);
}
.result-summary__item {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;
    border-radius: var(--rounded-sm);
}
.result-summary__label {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-weight: var(--font-bold);
    letter-spacing: -0.01em;
}
.result-summary__score {
    font-weight: var(--font-bold);
    color: var(--color-dark-gray-blue);
}
.result-summary__score--max {
    opacity: 0.65;
}
.result-summary__item--reaction {
    background-color: var(--bg-light-red);
}
.result-summary__item--memory {
    background-color: var(--bg-orangey-yellow);
}
.result-summary__item--verbal {
    background-color: var(--bg-green-teal);
}
.result-summary__item--visual {
    background-color: var(--bg-cobalt-blue);
}
.result-summary__item--reaction .result-summary__label {
    color: var(--color-light-red);
}
.result-summary__item--memory .result-summary__label {
    color: var(--color-orangey-yellow);
}
.result-summary__item--verbal .result-summary__label {
    color: var(--color-green-teal);
}
.result-summary__item--visual .result-summary__label {
    color: var(--color-cobalt-blue);
}
.result-summary__continue-btn {
    background-color: var(--color-dark-gray-blue);
    border-radius: var(--rounded-xl);
    font-weight: var(--font-bold);
    color: var(--color-pale-blue);
    display: block;
    text-align: center;
    text-decoration: none;
    position: relative;
    border: none;
    cursor: pointer;
    padding: 1.25rem 0 1.125rem 0;
}
.result-summary__continue-btn::before {
    content: "Continue";
    display: block;
    border-radius: inherit;
    position: absolute;
    inset: 0;
    opacity: 0;
    padding: inherit;
    background: linear-gradient(#4e25cc, #2920f1);
    transition: opacity 200ms ease;
}
.result-summary__continue-btn:focus-visible {
    outline: 0.1875rem dashed var(--bg-light-slate-blue);
    outline-offset: 0.1875rem;
}
@media (prefers-reduced-motion: reduce) {
    .result-summary__continue-btn::before {
        transition: none;
    }
}
@media (hover: hover) {
    .result-summary__continue-btn:hover::before {
        opacity: 1;
    }
}

@media screen and (min-width: 46rem) {
    main {
        align-items: center;
    }
    .result-card {
        display: flex;
        height: 32rem;
        border-radius: var(--rounded-xl);
    }
    .result-card > * {
        width: 50%;
    }
    .result-overview {
        border-radius: var(--rounded-xl);
        padding: 2.4375rem 0 3.4375rem;
    }
    .result-overview__title {
        font-size: var(--text-lg);
    }
    .result-overview__score {
        padding-top: 3.4375rem;
        width: 12.5rem;
        height: 12.5rem;
        margin-bottom: 1.8125rem;
    }
    .result-overview__score--at {
        font-size: var(--text-5xl);
        margin-bottom: 0.3125rem;
    }
    .result-overview__score--max {
        font-size: var(--text-base);
    }
    .result-overview__compliment {
        font-size: var(--text-xl);
    }
    .result-overview__description {
        font-size: var(--text-base);
        max-width: 25ch;
        letter-spacing: unset;
    }
    .result-summary {
        padding: 2.4375rem 2.5rem 2.875rem 2.5rem;
    }
    .result-summary__title {
        font-size: var(--text-lg);
        color: var(--color-dark-gray-blue);
        margin-bottom: 1.8125rem;
    }
    .result-summary__list {
        font-size: var(--text-base);
        margin-bottom: 2.5625rem;
    }
}
